# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
gui/static/

# Svelte Kit Generated
.svelte-kit/

# Module dist
/modules/**/lib/**
/modules/**/dist/**
